#stage0 {
    position:relative;
}

.stage {
    width:600px;
    height:500px;
    background-color:red;
    overflow:hidden;
}

.stage td {
    width:25px;
    height:25px;
}

.test_musi {
    position:absolute;
    width:25px;
    height:25px;
    background-color:red;
    z-index:255;
}